<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="http://cdn.ckeditor.com/4.3.4/standard/ckeditor.js"></script>
  </head>
  <body>
    <%- include('header') %>
    <div>
      <h4>Edit password detail</h4> 
      <%  if(success!='') { %>
        <p><%= success %></p>
        <% } %>
      <form action="/password-detail/edit/<%= record._id %>" method="POST">
        <div>
            <h4>Choose password category</h4>
            <select name="pass_cat" id="password">
                <option value="">Choose password category</option>
                <% if(records.length > 0) {
                    records.forEach(function(row){
                    %>
                <option value="<%= row.password_category %>" <% if(row.password_category==record.password_category) { %> selected <% } %> ><%= row.password_category %></option>
                <% }) }  %>
            </select>
        </div>
        <input type="hidden" name="id" value="<%= record._id %>">
        <h4>Project Name</h4>
        <input type="textbox" name="project_name" value="<%= record.project_name %>" id="pro" placeholder="Enter your project name">
        <h4>Password Details</h3>
        <textarea name="pass_detail" id="editor" cols="30" rows="10"><%= record.password_detail %></textarea>
        <input type="submit" name="submit" value="Update Password" id="submit_btn">
        <p><a href="/view-all-password">View all password Lists</a></p>
      </form>
    </div>
    <%- include('footer') %>
    <script>
        CKEDITOR.replace('editor');
    </script>
  </body>
</html>
