<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <%- include('header') %>
    <h3 style="text-align: center; margin: 30px;">Password category List</h3>
    <div style="display: flex; width: 100%; justify-content: center; ">
        <table width="70%">
            <thead>
              <tr>
                <th>Password category name</th>
                <th colspan="2">Action</th>
              </tr>
            </thead>
            <tbody>
              <% if(records.length > 0) {
                records.forEach(function(row){
                %>
              <tr>
                <td><%= row.password_category %></td>
                <td><a href="passwordCategory/edit/<%= row._id %>">UPDATE</a></td>
                <td><a href="passwordCategory/delete/<%= row._id %>">DELETE</a></td>
              </tr>
              <% }) } %>
            </tbody>
          </table>
    </div>
    <%- include('footer') %>
  </body>
</html>
